#totales{
    right: 10em;
}

.japbutton{
    color: white;
    background-color: #f2267b;
}

.japbutton:hover{
    color: white;
    background-color: #d61c6c;
}

.trash:hover{
    color: #f2267b;
  }

 .paymode {
     color: black;
    text-decoration: none !important;
  } 

 .paymode:hover {
     color: #d61c6c;
    text-decoration: none !important;
  } 

  .paymode input[type=radio]{
      position: absolute;
      right: 1.5em;
      top: 1.5em;
  }

  .paymode input[type=radio]:checked{
    background: #d61c6c !important;
    color: #d61c6c !important;
}

  #moneda {
      max-width: 6em !important;
  }

  .etiqueta-moneda {
      padding: 0.5em;
  }