#totales{
    right: 10em;
}

.japbutton{
    color: white;
    background-color: #f2267b;
}

.japbutton:hover{
    color: white;
    background-color: #d61c6c;
}

.trash:hover{
    color: #f2267b;
  }

 .paymode {
     color: black;
    text-decoration: none !important;
  } 

 .paymode:hover {
     color: #d61c6c;
    text-decoration: none !important;
  } 

  #moneda {
      max-width: 6em !important;
  }

  .etiqueta-moneda {
      padding: 0.5em;
  }