html,
      body {
        height: 100%;
      }

      body {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;

      }

      #signin {
        max-width: 500px;
        padding: 15px;
        margin: auto;
        background-color: white;
        border-radius: 30px;
        align-items: center;
        text-align: center;
      }

      .textimput{
        border-style: hidden;
        border-bottom: #4b4b4d solid;
        padding: 5px;
        text-align: center;
      }

      a{
          color: #D61C6C;
      }

      a:hover{
          color: #f2267b;
      }

      .submit{
        background-color: #D61C6C;
        width: 150px;
        color: white;
        font-weight: bold;
        border-radius: 35px;
        border-style: hidden;
        padding: 5px;
        margin: 10px;
      }

      .submit:hover{
        background-color: #f2267b;
      }

      .header{
        color:#666666;
        margin: 10px;
        
      }