input[type="radio"] {
    display: none;
  }

  .estrellita {
    color:orange;
  }

  .puntuacion label {
  float: right;
  color: #c1b8b8;
  }

  .puntuacion label:hover,
  .puntuacion label:hover ~ label,
  .puntuacion input:checked ~ label {
  color:orange;
  }

  .images{
    box-sizing: border-box;
  }
  
  .gallery{
    justify-content: space-around;
    display:flex;
    width: 100%;
    margin:auto;
    list-style: none;
    padding: 15px;
    box-sizing: border-box;
  }

.gallery li{
    margin: 5px;
}

  .gallery img {
    width: 150 px;
    height: 100px;
  }

  #mainImage{
      box-sizing: content-box;
      margin:auto;
      height: 100%;
      padding: 20px;
      
  }
  
  .card:hover{
    box-shadow: 2px 2px 10px lightgray;
  }